<!DOCTYPE HTML>
<!--
	Royale by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>FenixPro</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900' rel='stylesheet' type='text/css'>
		<!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/skel-panels.min.js"></script>
		<script src="js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="css/skel-noscript.css" />
			<link rel="stylesheet" href="css/style.css" />
			<link rel="stylesheet" href="css/style-desktop.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="css/ie/v9.css" /><![endif]-->
	</head>
	<body class="homepage">

		<!-- Header -->
		<div id="header">
			<div class="container">
				
				<!-- Logo -->
				<div id="logo">
					<h1><a href="#">FenixPro</a></h1>
				</div>
				
				<!-- Nav -->
				<nav id="nav">
					<ul>
						<li ><a th:href="@{/index}">Homepage</a></li>
						<li class="active"><a th:href="@{/registrazione}">Registra</a></li>
						<li><a th:href="@{/elenco}">Elenco</a></li>
					</ul>
				</nav>

			</div>
		</div>
		<!-- Header -->

		<!-- Main -->
		<div id="main">
			<div id="portfolio" class="container">
				<div class="row">
<head>
<meta charset="UTF-8">
</head>
	<div>
		<h4 class="title">Inserisci Allievo</h4>
		<p th:text="${exists}"></p>
	</div>
	<form th:action="@{/allievo}" method="POST" th:object="${allievo}">
		<table>
			<tr>
				<td>Nome:</td>
				<td><input type="text" th:field="*{nome}" /></td>
				<td th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></td>
			</tr>	
			<tr>
				<td>Cognome:</td>
				<td><input type="text" th:field="*{cognome}" /></td>
				<td th:if="${#fields.hasErrors('cognome')}" th:errors="*{cognome}"></td>
			</tr>
			<tr>
				<td>Codice Fiscale:</td>
				<td><input type="text" th:field="*{cf}" /></td>
				<td th:if="${#fields.hasErrors('cf')}" th:errors="*{cf}"></td>
			</tr>
			<tr>
				<td>Indirizzo:</td>
				<td><input type="text" th:field="*{indirizzo}" /></td>
				<td th:if="${#fields.hasErrors('indirizzo')}" th:errors="*{indirizzo}"></td>
			</tr>		
			<tr>
				<td>Data di Nascita:</td>
				<td><input type="text" th:field="*{dataDiNascita}" /></td>
				<td th:if="${#fields.hasErrors('dataDiNascita')}" th:errors="*{dataDiNascita}"></td>
			</tr>
			<tr>
				<td>Luogo di Nascita:</td>
				<td><input type="text" th:field="*{luogoDiNascita}" /></td>
				<td th:if="${#fields.hasErrors('luogoDiNascita')}" th:errors="*{luogoDiNascita}"></td>
			</tr>
			<tr>
				<td><button type="submit">Submit</button></td>
			</tr>
		</table>
	</form>
    </div>
    </div>
<!-- Welcome -->		
			<div id="welcome" class="container">
				<div class="divider"></div>
				<div class="row">
					<section>
						<header>
							<h2>***</h2>
						</header>
						<p>Questo è <strong>FenixPro</strong>, progetto by Nina, Nicholas e Alessandro.</p>
						<p>...</p>
					</section>
				</div>
			</div>
			<!-- /Welcome -->
			
		</div>
		<!-- /Main -->		
		
		<!-- Footer -->
		<div id="footer">
			<div class="container">
				<section>
					<header>
						<h2>Education is the Key to success</h2>
						<span class="byline">...</span>
					</header>
					<div class="row">
						<section class="4u">
							<a class="image full"><img src="images/pics03.jpg" alt=""></a>
						</section>
						<section class="4u">
							<a class="image full"><img src="images/pics04.jpg" alt=""></a>
						</section>
						<section class="4u">
							<a class="image full"><img src="images/pics05.jpg" alt=""></a>
						</section>
					</div>
					<a href="#" class="button">Torna in alto</a>
				</section>
			</div>
		</div>
		<!-- /Footer -->

		<!-- Copyright -->
		<div id="copyright">
			<div class="container">
				Design: <a href="http://templated.co">TEMPLATED</a> Images: <a href="http://unsplash.com">Unsplash</a> (<a href="http://unsplash.com/cc0">CC0</a>)
			</div>
		</div>
	</body>
</html>