<!DOCTYPE HTML>
<!--
	Royale by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>FenixPro</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900' rel='stylesheet' type='text/css'>
		<!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/skel-panels.min.js"></script>
		<script src="js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="css/skel-noscript.css" />
			<link rel="stylesheet" href="css/style.css" />
			<link rel="stylesheet" href="css/style-desktop.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="css/ie/v9.css" /><![endif]-->
	</head>
	<body class="homepage">

		<!-- Header -->
		<div id="header">
			<div class="container">
				
				<!-- Logo -->
				<div id="logo">
					<h1><a href="#">FenixPro</a></h1>
				</div>
				
				<!-- Nav -->
				<nav id="nav">
					<ul>
						<li class="active"><a href="#">Homepage</a></li>
						<li><a th:href="@{/registrazione}">Registra</a></li>
						<li><a th:href="@{/elenco}">Elenco</a></li>
					</ul>
				</nav>

			</div>
		</div>
		<!-- Header -->

		<!-- Banner -->
		<div id="banner">
			<div class="container">


			</div>
		</div>
		<!-- /Banner -->
		
		<!-- Main -->
		<div id="main">
			<div id="portfolio" class="container">
				<div class="row">
					<section class="3u">
						<header>
							<h2>Sistemi informatici</h2>
						</header>
						<a class="image full"><img src="images/pics06.jpg" alt=""></a>
						<p>I corsi sui Sistemi Informativi – IT management, IT project management, sviluppo software, database, sicurezza e sistemi – sono disponibili con soluzioni in azienda personalizzabili in base alle vostre esigenze.</p>
						<a th:href="@{/infoSistemiInformatici}" class="button">Leggi di pi&ugrave</a>
					</section>
					<section class="3u">
						<header>
							<h2>Aviazione civile</h2>
						</header>
						<a class="image full"><img src="images/pics07.jpg" alt=""></a>
						<p>Questo corso è progettato per uno studente con volo a zero esperienza di formazione in appena 6-8 mesi. Il programma First Officer (FOP) è un programma di addestramento di volo integrato completo in cui le lezioni di teoria e di volo sono miste, offrendo un eccitante equilibrio tra studi accademici e esperienza pratica di volo.</p>
						<a th:href="@{/infoAviazioneCivile}" class="button">Leggi di pi&ugrave</a>
					</section>
					<section class="3u">
						<header>
							<h2>Arte</h2>
						</header>
						<a class="image full"><img src="images/pics08.jpg" alt=""></a>
						<p>Il corso di Arte intende unire la conoscenza delle discipline storiche e letterarie tradizionali con le più avanzate metodologie nei settori della pittura, scultura, architettura ed arti applicate nell'età medievale, moderna e contemporanea.</p>
						<a th:href="@{/infoArte}" class="button">Leggi di pi&ugrave</a>
					</section>
					<section class="3u">
						<header>
							<h2>Moda & Bellezza</h2>
						</header>
						<a class="image full"><img src="images/pics09.jpg" alt=""></a>
						<p>Il corso fornisce una solida preparazione tecnico-artistica fatta di conoscenza di materiali, ricorso efficace alle nuove tecnologie, padronanza di tecniche di comunicazione, capacità di lettura psico-sociologica della società, rigore gestionale e amministrativo.</p>
						<a th:href="@{/infoModa}" class="button">Leggi di pi&ugrave</a>
					</section>
				</div>
			</div>
			
			<!-- Welcome -->		
			<div id="welcome" class="container">
				<div class="divider"></div>
				<div class="row">
					<section>
						<header>
							<h2>***</h2>
						</header>
						<p>Questo è <strong>FenixPro</strong>, progetto by Nina, Nicholas e Alessandro.</p>
						<p>...</p>
					</section>
				</div>
			</div>
			<!-- /Welcome -->
			
		</div>
		<!-- /Main -->		
		
		<!-- Footer -->
		<div id="footer">
			<div class="container">
				<section>
					<header>
						<h2>Education is the Key to success</h2>
						<span class="byline">...</span>
					</header>
					<div class="row">
						<section class="4u">
							<a class="image full"><img src="images/pics03.jpg" alt=""></a>
						</section>
						<section class="4u">
							<a class="image full"><img src="images/pics04.jpg" alt=""></a>
						</section>
						<section class="4u">
							<a class="image full"><img src="images/pics05.jpg" alt=""></a>
						</section>
					</div>
					<a href="#" class="button">Torna in alto</a>
				</section>
			</div>
		</div>
		<!-- /Footer -->

		<!-- Copyright -->
		<div id="copyright">
			<div class="container">
				Design: <a href="http://templated.co">TEMPLATED</a> Images: <a href="http://unsplash.com">Unsplash</a> (<a href="http://unsplash.com/cc0">CC0</a>)
			</div>
		</div>
	</body>
</html>