<!DOCTYPE HTML>
<!--
	Royale by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>FenixPro</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900' rel='stylesheet' type='text/css'>
		<!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/skel-panels.min.js"></script>
		<script src="js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="css/skel-noscript.css" />
			<link rel="stylesheet" href="css/style.css" />
			<link rel="stylesheet" href="css/style-desktop.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="css/ie/v9.css" /><![endif]-->
	</head>
	<body class="homepage">

		<!-- Header -->
		<div id="header">
			<div class="container">
				
				<!-- Logo -->
				<div id="logo">
					<h1><a href="#">FenixPro</a></h1>
				</div>
				
				<!-- Nav -->
				<nav id="nav">
					<ul>
						<li class="active"><a th:href="@{/index}">Homepage</a></li>
						<li><a th:href="@{/registrazione}">Registra</a></li>
						<li><a th:href="@{/elenco}">Elenco</a></li>
					</ul>
				</nav>

			</div>
		</div>
		<!-- Header -->

		
		<!-- Main -->
		<div id="main">
			<div id="portfolio" class="container">
				<div class="row">
<div>
    	<h2><strong>Sistema Informatico</strong></h2>
		<div>
			<p>Un sistema informatico o sistema di elaborazione dati è un sistema meccanografico,[1] un computer o un insieme di più computer, apparati o sottosistemi elettronici (come server, database, mainframe, supercomputer, switch, router, modem, terminali), tra loro interconnessi in rete, in un'architettura di base di tipo client-server, e preposti a una o più funzionalità o a servizi di elaborazione a favore degli utenti. A volte più genericamente è detta infrastruttura IT di un'azienda.

Anche il più semplice dei computer potrebbe essere definito sistema informatico, perché il suo funzionamento richiede la presenza combinata di hardware e software e della memoria RAM e ROM. Generalizzando il sistema è formato dalla interconnessione fra diversi computer e apparati che, insieme, formano un sistema più grande. Interconnettere computer può essere difficile a causa di incompatibilità presenti sia nell'hardware, che nel software installato.</p>
   		</div>
   		<h2><strong>Caratteristiche</strong></h2>
		<div>
			<p>Il sistema è composto da hardware e software, tipicamente a uso intranet, eventualmente connesso a internet, centralizzato oppure geograficamente distribuito e interconnesso (es. tramite VPN), con un'architettura che varia a seconda delle esigenze e della sua progettazione e, attraverso opportune applicazioni (es. applicazioni web), elabora dati e informazioni per restituire altri dati e informazioni utili. Il personal computer è un esempio di sistema informatico relativamente semplice. Tipici sono i sistemi informatici aziendali per i propri servizi di business e logistici interni ed esterni. Il sistema informativo è invece l'insieme delle attività logiche di gestione delle informazioni, delle relative modalità e degli strumenti tecnologici usati a tale scopo, di cui il sistema informatico ne costituisce la parte infrastrutturale.

Un sistema informatico riveste un'importanza strategica all'interno del contesto aziendale giacché un sistema efficiente e ben progettato e realizzato in prestazioni, efficienza, affidabilità, disponibilità e sicurezza garantisce una migliore gestione delle informazioni aziendali con ricadute positive sulla produttività stessa e quindi sull'operato o business dell'azienda stessa. Una volta progettato e realizzato, la gestione del sistema informatico in tutte le sue componenti passa tipicamente attraverso un team di sistemisti o amministratori di sistema, mentre agli utenti rimangono assegnate l'insieme delle funzionalità offerte.

I progettisti dei sistemi non sempre si preoccupano di progettarli prevedendo la futura necessità di collegarli ad altri sistemi. Per questo motivo gli amministratori di sistema (sysadmins) sono spesso obbligati a riconfigurare i sistemi per poterli far comunicare, usando un set di regole e vincoli chiamati protocolli, che, in sostanza, descrivono come il sistema "è visto dal mondo esterno" e che definiscono le condizioni necessarie perché i sistemi possano dialogare e interoperare. Quando due sistemi sono "visti dal mondo esterno" nello stesso modo, allora possono essere interconnessi per formare un unico sistema più grande.

Questa "immagine dall'esterno" viene di solito codificata da uno standard, che è un documento che descrive tutte le regole che un dispositivo o un programma devono rispettare. Esistono organismi internazionali, come l'IETF e l'IEEE che si occupano della preparazione e dell'approvazione di questi standard. Quando un sistema rispetta tutte le regole di un certo standard, si dice che "è conforme" (in inglese "compliant") allo standard.

A causa della complessità dei sistemi informatici (dovuta alla sovrapposizione di più strati di HW e SW), della conseguente non-linearità dei fenomeni coinvolti e dell'interazione che alcuni sistemi hanno con input provenienti da decisioni umane, non risulta ancora formalizzata una Teoria dei Sistemi Informatici intesa come formalizzazione matematica (Ingresso-Stato-Uscita) delle relazioni causa-effetto tra gli input (dati) e gli output (dati elaborati) di un sistema informatico.

Pertanto, diversamente da quanto accade in altre specializzazioni dell'Ingegneria, non risulta ancora formalizzato l'analogo di una Tecnica delle Costruzioni (sotto quali leggi e fenomeni fisici i vari sottosistemi informatici interagiscono). Risultano invece standardizzati (de facto) i procedimenti di realizzazione di singoli sistemi isolati, attraverso metodologie consolidate, come ad esempio ER "Entity-Relationship", UML "Unified Modelling Language" e RUP "Rational Unified Process".

Sono formalizzati alcuni procedimenti, basati sulla Teoria delle code, utili per il dimensionamento degli Impianti di Elaborazione Dati e per l'allocazione dei task sulle CPU. Tali procedimenti modellano il fenomeno per mezzo delle classi di servizio delle pratiche da elaborare e delle distribuzioni delle frequenze di arrivo delle stesse all'impianto di elaborazione (p.es distribuzione poissoniana). Esistono metodi basati sull'utilizzo di "best practice" ITIL (Information Technology Infrastructure Library) che vengono proposti per la gestione di processi tipici delle configurazioni dei sistemi informatici.</p>
   		</div>
    </div>
				</div>
			</div>
			
			<!-- Welcome -->		
			<div id="welcome" class="container">
				<div class="divider"></div>
				<div class="row">
					<section>
						<header>
							<h2>***</h2>
						</header>
						<p>Questo è <strong>FenixPro</strong>, progetto by Nina, Nicholas e Alessandro.</p>
						<p>...</p>
					</section>
				</div>
			</div>
			<!-- /Welcome -->
			
		</div>
		<!-- /Main -->		
		
		<!-- Footer -->
		<div id="footer">
			<div class="container">
				<section>
					<header>
						<h2>Education is the Key to success</h2>
						<span class="byline">...</span>
					</header>
					<div class="row">
						<section class="4u">
							<a class="image full"><img src="images/pics03.jpg" alt=""></a>
						</section>
						<section class="4u">
							<a class="image full"><img src="images/pics04.jpg" alt=""></a>
						</section>
						<section class="4u">
							<a class="image full"><img src="images/pics05.jpg" alt=""></a>
						</section>
					</div>
					<a href="#" class="button">Torna in alto</a>
				</section>
			</div>
		</div>
		<!-- /Footer -->

		<!-- Copyright -->
		<div id="copyright">
			<div class="container">
				Design: <a href="http://templated.co">TEMPLATED</a> Images: <a href="http://unsplash.com">Unsplash</a> (<a href="http://unsplash.com/cc0">CC0</a>)
			</div>
		</div>
	</body>
</html>