<!DOCTYPE HTML>
<!--
	Royale by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>FenixPro</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900' rel='stylesheet' type='text/css'>
		<!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/skel-panels.min.js"></script>
		<script src="js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="css/skel-noscript.css" />
			<link rel="stylesheet" href="css/style.css" />
			<link rel="stylesheet" href="css/style-desktop.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="css/ie/v9.css" /><![endif]-->
	</head>
	<body class="homepage">

		<!-- Header -->
		<div id="header">
			<div class="container">
				
				<!-- Logo -->
				<div id="logo">
					<h1><a href="#">FenixPro</a></h1>
				</div>
				
				<!-- Nav -->
				<nav id="nav">
					<ul>
						<li class="active"><a th:href="@{/index}">Homepage</a></li>
						<li><a th:href="@{/registrazione}">Registra</a></li>
						<li><a th:href="@{/elenco}">Elenco</a></li>
					</ul>
				</nav>

			</div>
		</div>
		<!-- Header -->

		
		<!-- Main -->
		<div id="main">
			<div id="portfolio" class="container">
				<div class="row">
<div>
    	<h2><strong>Pilota</strong></h2>
		<div>
			<p>Il Pilota è il titolare di una licenza aeronautica che consente di pilotare aeromobili civili in base alle qualifiche di cui è in possesso (abilitazioni). Esistono diverse tipologie di Licenza: pilota privato (PPL), pilota commerciale (CPL) pilota di linea (ATPL). In considerazione della licenza conseguita è possibile svolgere l'attività di pilota come professione (Licenza di Pilota di Linea di Velivolo o Elicottero, Licenza di Pilota Commerciale di Velivolo o Elicottero) o a scopo ricreativo/sportivo (Licenza di Pilota privato di Velivolo o Elicottero, Licenza di Aliante, Licenza di Aerostato).

Le Abilitazioni conseguite sono riportate sulla licenza poiché indicano la o le diverse tipologie di aeromobile che il pilota è autorizzato a pilotare. Le attestazioni sono rilasciate al termine di un corso di addestramento teorico-pratico svolto presso Approved Training Organization - ATO (organizzazione di addestramento approvate) approvati dalle Autorità Aeronautiche nazionali.

Gli addestramenti ed i requisiti variano in considerazione del ruolo svolto dal pilota e del posto di pilotaggio assegnatogli a bordo dell'aeromobile: vi sono aeromobili che possono essere condotti da un solo pilota (si parla in questo caso di aeromobili ad equipaggio singolo), e aeromobili per la conduzione dei quali è necessaria la presenza a bordo di un pilota e un co-pilota (si parla in questo caso di aeromobili ad equipaggio plurimo). Il pilota a bordo quindi può svolgere le funzioni di comandante o di co-pilota.

Il pilota, inoltre, può eseguire la funzione di istruttore nei confronti di allievi-piloti per il conseguimento di licenze o di abilitazioni, o anche di esaminatore o controllore delle capacità dei propri colleghi, verificandone periodicamente il permanere delle abilità già conseguite ed esercitate.</p>
   		</div>
   		<h2><strong>Come si diventa pilota</strong></h2>
		<div>
			<p>Requisito essenziale e imprescindibile per intraprendere la strada di pilota è l'idoneità psico-fisica certificata dall'Istituto Medico Legale dell'Aeronautica Militare o da un ambulatorio della Sanità Marittima del Ministero della Salute. Sono previste due classi di accertamenti differenti in considerazione della tipologia di licenza che si intende conseguire (II classe per privati, I classe per commerciale e linea).

Per diventare pilota di velivolo o di elicottero occorre seguire un corso (composto da una parte teorica e da una parte pratica in volo e/o su un simulatore di volo) presso una scuola di volo certificata o approvata da Enac. La licenza si ottiene solo a seguito di un esame teorico-pratico svolto presso l'Enac.

Si può intraprendere il corso per diventare piloti professionisti dopo aver conseguito il diploma di scuola media superiore o, in alternativa, dopo aver superato un test di matematica, fisica e inglese al fine di verificare le conoscenze di base del candidato.</p>
   		</div>
   		<h2><strong>Come si consegue la licenza di volo</strong></h2>
		<div>
			<p>Per conseguire una Licenza di Pilota privato e svolgere attività di volo a solo scopo turistico è necessario iscriversi presso una Organizzazione Registrata o una Approved Training Organisation (ATO), completare il programma di addestramento (corso teorico e un corso pratico di almeno 45 ore di volo) e, al termine, superare l'esame.

Per conseguire una Licenza di Pilota Commerciale e successivamente, quella di Pilota di Linea, allo scopo di intraprendere l'attività professionale di pilota, sono previsti due tipi di percorso: un corso così detto "Modulare" o un corso "Integrato".

Il corso Modulare consente di conseguire, in una prima fase, la Licenza di Pilota Privato di Velivolo o Elicottero, per proseguire poi con l'addestramento per la Licenza di Pilota Commerciale e infine, effettuato un numero minimo di ore di volo su aeromobili a equipaggio plurimo, sostenere l'esame per Pilota di Linea.

Il Corso Integrato dà la possibilità di conseguire la Licenza di Pilota Commerciale con l'idoneità teorica per la Licenza di Pilota di Linea. Frequentando il corso di tipo integrato, l'allievo svolge l'addestramento teorico per la Licenza di Pilota di Linea (in gergo: ATPL Frozen) articolato in 750 ore di istruzione ripartite tra le varie materie. L'idoneità teorica conseguita resta valida almeno per 7 anni e, comunque, fino a quando l'allievo mantiene l'abilitazione al volo strumentale. Terminato l'addestramento pratico e superato l'esame in volo, l'allievo sarà titolare di una Licenza di Pilota Commerciale che lo abilita a svolgere attività professionale.

Il candidato in fase di addestramento è chiamato allievo pilota, da distinguere dal pilota allievo già titolare di licenza aeronautica ed in addestramento per il conseguimento di una ulteriore licenza o abilitazione aeronautica.
Le Licenze rilasciate dall'Enac sono Licenze EASA, vale a dire che rispondono ai requisiti stabiliti e riconosciuti in tutti i Paesi aderenti all'EASA.</p>
   		</div>
    </div>
				</div>
			</div>
			
			<!-- Welcome -->		
			<div id="welcome" class="container">
				<div class="divider"></div>
				<div class="row">
					<section>
						<header>
							<h2>***</h2>
						</header>
						<p>Questo è <strong>FenixPro</strong>, progetto by Nina, Nicholas e Alessandro.</p>
						<p>...</p>
					</section>
				</div>
			</div>
			<!-- /Welcome -->
			
		</div>
		<!-- /Main -->		
		
		<!-- Footer -->
		<div id="footer">
			<div class="container">
				<section>
					<header>
						<h2>Education is the Key to success</h2>
						<span class="byline">...</span>
					</header>
					<div class="row">
						<section class="4u">
							<a class="image full"><img src="images/pics03.jpg" alt=""></a>
						</section>
						<section class="4u">
							<a class="image full"><img src="images/pics04.jpg" alt=""></a>
						</section>
						<section class="4u">
							<a class="image full"><img src="images/pics05.jpg" alt=""></a>
						</section>
					</div>
					<a href="#" class="button">Torna in alto</a>
				</section>
			</div>
		</div>
		<!-- /Footer -->

		<!-- Copyright -->
		<div id="copyright">
			<div class="container">
				Design: <a href="http://templated.co">TEMPLATED</a> Images: <a href="http://unsplash.com">Unsplash</a> (<a href="http://unsplash.com/cc0">CC0</a>)
			</div>
		</div>
	</body>
</html>