<!DOCTYPE HTML>
<!--
	Royale by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>FenixPro</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900' rel='stylesheet' type='text/css'>
		<!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/skel-panels.min.js"></script>
		<script src="js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="css/skel-noscript.css" />
			<link rel="stylesheet" href="css/style.css" />
			<link rel="stylesheet" href="css/style-desktop.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="css/ie/v9.css" /><![endif]-->
	</head>
	<body class="homepage">

		<!-- Header -->
		<div id="header">
			<div class="container">
				
				<!-- Logo -->
				<div id="logo">
					<h1><a href="#">FenixPro</a></h1>
				</div>
				
				<!-- Nav -->
				<nav id="nav">
					<ul>
						<li class="active"><a th:href="@{/index}">Homepage</a></li>
						<li><a th:href="@{/registrazione}">Registra</a></li>
						<li><a th:href="@{/elenco}">Elenco</a></li>
					</ul>
				</nav>

			</div>
		</div>
		<!-- Header -->

		
		<!-- Main -->
		<div id="main">
			<div id="portfolio" class="container">
				<div class="row">
<div>
    	<h2><strong>Il significato della Moda</strong></h2>
		<div>
			<p>La moda, detta anche storicamente costume, nasce solo in parte dalla necessità umana correlata alla sopravvivenza di coprirsi con tessuti, pelli o materiali lavorati per essere indossati. In realtà l'abito assunse anche precise funzioni sociali, atte a distinguere le varie classi e le mansioni sacerdotali, amministrative e militari. Le donne, che ne erano escluse, non per questo rinunciavano a vestirsi con cura estrema. Più legato alla psicologia è l'aspetto del mascheramento: gli abiti possono servire a nascondere lati della personalità che non si vogliono far conoscere o, viceversa, a mostrarli, emblematico in questo senso è il proverbio "l'abito non fa il monaco".</p>
   		</div>
   		<h2><strong>Intro</strong></h2>
		<div>
			<p>Il Corso di Alta Formazione in Design di Moda, coordinato da Alessia Vitti intende formare designer del settore moda con conoscenze e competenze tecnico-stilistiche utili alla progettazione di collezioni complete di modelli.

Il percorso aiuta a valutare criticamente le esigenze dei consumatori, del mercato, le tendenze moda e l’identità di un brand. Il processo di progettazione e la metodologia, messi in pratica attraverso una varietà di progetti, crea una profonda conoscenza e le necessarie competenze per la creazione e realizzazione di una collezione di moda contemporanea.

Il corso si svolge ogni anno in collaborazione con realtà aziendali di eccellenza: MAX MARA e Dondi Jersey per l’A. A. 2016/2017; Blumarine per l’A.A. 2017/2018.

Il progetto formativo simula il percorso di filiera, approfondendo la ricerca di materiali e tendenze, lo studio dei nuovi trend, la progettazione di insieme e lo sviluppo tecnico.</p>
   		</div>
   		
    </div>
				</div>
			</div>
			
			<!-- Welcome -->		
			<div id="welcome" class="container">
				<div class="divider"></div>
				<div class="row">
					<section>
						<header>
							<h2>***</h2>
						</header>
						<p>Questo è <strong>FenixPro</strong>, progetto by Nina, Nicholas e Alessandro.</p>
						<p>...</p>
					</section>
				</div>
			</div>
			<!-- /Welcome -->
			
		</div>
		<!-- /Main -->		
		
		<!-- Footer -->
		<div id="footer">
			<div class="container">
				<section>
					<header>
						<h2>Education is the Key to success</h2>
						<span class="byline">...</span>
					</header>
					<div class="row">
						<section class="4u">
							<a class="image full"><img src="images/pics03.jpg" alt=""></a>
						</section>
						<section class="4u">
							<a class="image full"><img src="images/pics04.jpg" alt=""></a>
						</section>
						<section class="4u">
							<a class="image full"><img src="images/pics05.jpg" alt=""></a>
						</section>
					</div>
					<a href="#" class="button">Torna in alto</a>
				</section>
			</div>
		</div>
		<!-- /Footer -->

		<!-- Copyright -->
		<div id="copyright">
			<div class="container">
				Design: <a href="http://templated.co">TEMPLATED</a> Images: <a href="http://unsplash.com">Unsplash</a> (<a href="http://unsplash.com/cc0">CC0</a>)
			</div>
		</div>
	</body>
</html>